/* screen - create-quiz-1 */

.create-quiz-1 {
  background-color: var(--white);
  height: 954px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.create-quiz-1 .screenshot2021-06-23-nearpod7-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 933px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 10px;
  width: 1920px;
}

.create-quiz-1 .x1-C61RwL {
  background-color: transparent;
  height: 100px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.create-quiz-1 .header-GML0ip {
  background-color: transparent;
  bottom: 0px;
  height: 49px;
  left: 50px;
  position: absolute;
  width: calc(100.00% - 100px);
}

.create-quiz-1 .group-87-lxaxaq {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.create-quiz-1 .menu-yPuPNE {
  background-color: transparent;
  height: 49px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 209px;
}

.create-quiz-1 .group-3-8a43S6 {
  background-color: transparent;
  height: 49px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 211px;
}

.create-quiz-1 .university-XjJ7Hp {
  background-color: transparent;
  height: auto;
  left: 56px;
  letter-spacing: 0.80px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 18px;
  white-space: nowrap;
  width: auto;
}

.create-quiz-1 .logo-XjJ7Hp {
  background-color: transparent;
  height: 46px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 46px;
}

.create-quiz-1 .x3-yPuPNE {
  background-color: transparent;
  height: 22px;
  left: 1796px;
  object-fit: cover;
  position: absolute;
  top: 17px;
  width: 24px;
}

.create-quiz-1 .x1-GML0ip {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.create-quiz-1 .header-XN4VxH {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.create-quiz-1 .group-87-eET4qq {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.create-quiz-1 .menu-dxBduN {
  background-color: transparent;
  height: 100px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.create-quiz-1 .bg-t937ty {
  background-color: var(--blueberry);
  height: 100px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.create-quiz-1 .shg-logo1-w-t937ty {
  background-color: transparent;
  height: 53px;
  left: 30px;
  object-fit: cover;
  position: absolute;
  top: 24px;
  width: 96px;
}

.create-quiz-1 .group-10-dxBduN {
  background-color: transparent;
  height: 57px;
  left: 1820px;
  position: absolute;
  top: 23px;
  width: 57px;
}

.create-quiz-1 .rectangle-15-copy-6-JSx8Cq {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.create-quiz-1 .clip-bfSENu {
  background-color: transparent;
  height: 100%;
  left: 0px;
  overflow: hidden;
  position: relative;
  top: 1px;
  width: 100%;
}

.create-quiz-1 .layer-19-copy-eSAlTB {
  background-color: transparent;
  height: calc(100.00% + 3px);
  left: -13px;
  position: relative;
  top: 1px;
  width: calc(100.00% + 23px);
}

.create-quiz-1 .layer-19-w3wNqq {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.create-quiz-1 .rectangle-1419-C61RwL {
  background-color: var(--blueberry);
  height: 102px;
  left: 0px;
  position: absolute;
  top: 855px;
  width: 1920px;
}

.create-quiz-1 .signup-btn-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 48px;
  left: 1380px;
  position: absolute;
  top: 882px;
  width: 193px;
}

.create-quiz-1 .rectangle-1-bSsVyR {
  background-color: transparent;
  border-radius: 20px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.create-quiz-1 .create-bSsVyR {
  background-color: transparent;
  bottom: calc(31.82% - 8px);
  height: 26px;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: right;
  white-space: nowrap;
  width: 53px;
}

.create-quiz-1 .signup-btn-VMr6Om {
  background-color: transparent;
  height: 48px;
  left: 1172px;
  position: absolute;
  top: 882px;
  width: 193px;
}

.create-quiz-1 .rectangle-1-EReVaN {
  background-color: transparent;
  border-radius: 20px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.create-quiz-1 .cancel-EReVaN {
  background-color: transparent;
  bottom: calc(31.82% - 8px);
  cursor: pointer;
  height: 26px;
  left: 71px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: right;
  white-space: nowrap;
  width: 55px;
}
