/* screen - create-slide */

.create-slide {
  background-color: var(--white);
  height: 867px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.create-slide .screenshot2021-3-nearpod-slide-C61RwL {
  background-color: transparent;
  height: 855px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 10px;
  width: 1920px;
}

.create-slide .x1-C61RwL {
  background-color: transparent;
  height: 855px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.create-slide .rectangle-1526-GML0ip {
  background-color: var(--white);
  height: calc(100.00% - 766px);
  left: 952px;
  position: absolute;
  top: 766px;
  width: calc(100.00% - 1451px);
}

.create-slide .header-GML0ip {
  background-color: transparent;
  height: 49px;
  left: 50px;
  position: absolute;
  top: 51px;
  width: calc(100.00% - 100px);
}

.create-slide .group-87-lxaxaq {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.create-slide .menu-yPuPNE {
  background-color: transparent;
  height: 49px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 209px;
}

.create-slide .group-3-8a43S6 {
  background-color: transparent;
  height: 49px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 211px;
}

.create-slide .university-XjJ7Hp {
  background-color: transparent;
  height: auto;
  left: 56px;
  letter-spacing: 0.80px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 18px;
  white-space: nowrap;
  width: auto;
}

.create-slide .logo-XjJ7Hp {
  background-color: transparent;
  height: 46px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 46px;
}

.create-slide .x3-yPuPNE {
  background-color: transparent;
  height: 22px;
  left: 1796px;
  object-fit: cover;
  position: absolute;
  top: 17px;
  width: 24px;
}

.create-slide .x1-GML0ip {
  background-color: transparent;
  height: 100px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.create-slide .header-XN4VxH {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.create-slide .group-87-eET4qq {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.create-slide .menu-dxBduN {
  background-color: transparent;
  height: 100px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.create-slide .bg-t937ty {
  background-color: var(--blueberry);
  height: 100px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}

.create-slide .shg-logo1-w-t937ty {
  background-color: transparent;
  height: 53px;
  left: 30px;
  object-fit: cover;
  position: absolute;
  top: 24px;
  width: 96px;
}

.create-slide .group-10-dxBduN {
  background-color: transparent;
  height: 57px;
  left: 1820px;
  position: absolute;
  top: 23px;
  width: 57px;
}

.create-slide .rectangle-15-copy-6-JSx8Cq {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.create-slide .clip-bfSENu {
  background-color: transparent;
  height: 100%;
  left: 0px;
  overflow: hidden;
  position: relative;
  top: 1px;
  width: 100%;
}

.create-slide .layer-19-copy-eSAlTB {
  background-color: transparent;
  height: calc(100.00% + 3px);
  left: -13px;
  position: relative;
  top: 1px;
  width: calc(100.00% + 23px);
}

.create-slide .layer-19-w3wNqq {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.create-slide .signup-btn-C61RwL {
  background-color: transparent;
  height: 48px;
  left: 851px;
  position: absolute;
  top: 652px;
  width: 193px;
}

.create-slide .rectangle-1-bSsVyR {
  background-color: var(--blueberry);
  border-radius: 20px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.create-slide .upload-files-bSsVyR {
  background-color: transparent;
  bottom: calc(31.82% - 8px);
  height: 26px;
  left: 54px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: right;
  white-space: nowrap;
  width: 99px;
}

.create-slide .signup-btn-VMr6Om {
  background-color: transparent;
  cursor: pointer;
  height: 48px;
  left: 1197px;
  position: absolute;
  top: 784px;
  width: 193px;
}

.create-slide .rectangle-1-EReVaN {
  background-color: var(--blueberry);
  border-radius: 20px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.create-slide .save-and-exit-EReVaN {
  background-color: transparent;
  bottom: calc(31.82% - 8px);
  height: 26px;
  left: 44px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: right;
  white-space: nowrap;
  width: 111px;
}

.create-slide .signup-btn-mzXdH9 {
  background-color: transparent;
  cursor: pointer;
  height: 48px;
  left: 989px;
  position: absolute;
  top: 784px;
  width: 193px;
}

.create-slide .rectangle-1-KwmHQR {
  background-color: transparent;
  border-radius: 20px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.create-slide .cancel-KwmHQR {
  background-color: transparent;
  bottom: calc(31.82% - 8px);
  cursor: pointer;
  height: 26px;
  left: 70px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: right;
  white-space: nowrap;
  width: 55px;
}
